.card-area__not-found-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3em;
  line-height: 1.15;

  text-align: center;

  color: #1a1b22;

  margin: 0;
  margin-bottom: 16px;
}
