.card-area__contant {
  display: grid;
  width: 100%;
  grid-column: 1fr 1fr 1fr;
  gap: 64px;
}

@media all and (max-width: 1024px) and (min-width: 768px) {
  .card-area__contant {
    gap: 32px;
  }
}
