@import "./_btn/popup__error_btn.css";

.popup__error {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 0.6rem;
  line-height: 1.25;

  color: #ff0000;

  position: relative;
  top: -13px;

  margin: 0px;

  opacity: 0;
}
