.popup__button.popup__button_active {
  background: #2f71e5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  color: #ffffff;
}

.popup__button.popup__button_active:hover {
  background: #347eff;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
}

.popup__button.popup__button_active:target {
  background: #2a65cc;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
}
