.popup__input {
  width: 358px;
  border: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  margin-bottom: 13px;

  padding: 10px 0px;
}

.popup__input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 0.7em;
  line-height: 1.21;

  color: #000000;

  opacity: 0.2;
}

.popup__input:invalid + .popup__error {
  opacity: 1;
}

@media all and (max-width: 767px) {
  .popup__input {
    width: 100%;
  }
}
