.author__title {
  font-family: Roboto Slab, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2em;
  line-height: 1.33;
  margin-top: 0px;
  margin-bottom: 24px;
}

@media all and (max-width: 1024px) and (min-width: 768px) {
  .author__title {
    font-size: 1.5em;
    margin-bottom: 16px;
  }
}

@media all and (max-width: 768px) {
  .author__title {
    font-size: 30px;
    line-height: 40px;
  }
}
